/* line 5, ../cssprocessor/charts.scss */
#content .options ul {
  margin-top: 10px;
  list-style: none;
}
/* line 9, ../cssprocessor/charts.scss */
#content .options ul li {
  float: left;
  padding: 0 5px;
}
/* line 13, ../cssprocessor/charts.scss */
#content .options ul li a.label {
  padding: 3px 14px;
  color: #222;
  background-color: #C7C7C7;
  cursor: pointer;
}
/* line 22, ../cssprocessor/charts.scss */
#content .options ul li.active a.label {
  background-color: #191919;
  color: #FFF;
}

/* line 33, ../cssprocessor/charts.scss */
#response ul.chart li {
  float: left;
  padding: 10px;
  width: 19.5%;
}
/* line 40, ../cssprocessor/charts.scss */
#response .label {
  background-color: #FFF;
  color: #000;
  position: relative;
  top: 25px;
  left: 1px;
  padding: 6px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 52, ../cssprocessor/charts.scss */
#response .image:hover .label {
  color: #EA2117;
}
/* line 57, ../cssprocessor/charts.scss */
#response .title {
  color: #222;
  font-size: 13px;
  font-weight: bold;
  line-height: 14px;
  padding-top: 6px;
}
/* line 64, ../cssprocessor/charts.scss */
#response .title small {
  color: #535353;
  font-size: 12px;
  font-weight: normal;
}
/* line 71, ../cssprocessor/charts.scss */
#response .artist {
  color: #535353;
  font-size: 13px;
}
