/* line 4, ../cssprocessor/home.scss */
.logo {
  background: url("../img/default.png") no-repeat top center;
  display: inline-block;
  width: 275px;
  height: 210px;
  margin: 40px auto 10px;
}

/* line 13, ../cssprocessor/home.scss */
#box {
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* line 19, ../cssprocessor/home.scss */
.button-group {
  margin-top: 10px;
}
/* line 22, ../cssprocessor/home.scss */
.button-group .btn {
  background-color: #E9E9E9;
  border: 1px solid #c3c3c3;
  color: #000;
  font-size: 12px;
  padding: 7px 14px 8px;
}
/* line 29, ../cssprocessor/home.scss */
.button-group .btn:hover {
  background-color: #c2c2c2;
}
