

@import "compass/css3";
@import "foundation.min.css";
@import "icons_general.css";
@import "icons_social.css";
@import "mixins";


$navHeight : 30px;
$navAnColor : #7f7f7f;
$bodyColor: #515151;

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	background: url(../img/pattern/p4.png) repeat fixed $bodyColor;
}


p{
	margin: 0;
	padding: 0;
}

@include placeholder(#999, 13px);

// ** <nav> **
nav{
	background: #222222;
	width: 100%; 
	height: $navHeight; 
	line-height: $navHeight;


	ul{
	 	display: inline; 
	 	height: $navHeight; 
	 	line-height: $navHeight; 
	 	list-style: none; 


	 	li{
	 		float: left;


	 		a{
	 			color: $navAnColor; 
	 			display: block; 
	 			font-weight: bold; 
	 			height: $navHeight;
	 			line-height: $navHeight;  
	 		}

	 		.divider{
	 			background: black; 
	 			-webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); 
	 			-moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); 
	 			box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); 
	 			height: 100%; 
	 			margin-right: 1px; 
	 			width: 1px; 
	 		}

	 	}	
	}

	ul.navigation{
		float: left;

		li{
			a{
				font-size: 14px; 
				padding: 0 15px;
			}

	 		&:hover{
	 			background: #000;

	 			a{
	 				color: #FFF;
	 			}
	 		}
		}

		li.active a{
			color: #FFF;
		}

	}

	ul.social{
		float: right;

		li{
			padding: 0 10px;
		}

		li.twitter{
			padding-top: 4px;
		}

	}

}


// ** <header> **

header{
	width: 100%;
	background-color: #F2F2F2;
	//@include single-box-shadow(#bfbfbf, 0, 2px, 12px, 1px, false);
	border: 1px solid #cccccc;
	height: 70px;

	.brand{
		//margin-top: 14px;

		h1{
			text-transform: uppercase;
		}
	}

	.action{
		//margin-top: 15px;

		.setting{	
			margin-left: 10px;
			position: relative;
			top: 4px;

			a{
				font-size: 16px;
				padding: 8px 13px 6px;	

				&:hover{
					color: #EA2117;
				}			
			}
		}
	}

	select{
		width: 360px;
	}

}


//** #content **
#container, #setting{

	padding: 0 20px;
	background-color: #FFF;
}

#content{
	padding-top: 10px;
	padding-bottom: 80px;
	min-height: 480px;

	.page-title{
		border-bottom: 1px solid #c7c7c7;

		h4{
			text-transform: uppercase;
			font-size: 16px;
			color: #444;
		}
	}

	ul{
		list-style: none; 
	}
}

//** #setting **
#setting{
	background-color: #252525;
	border-left: 1px solid #252525;
	border-right: 2px solid #252525;
	height: 120px;
	text-align: center;
}



//** #loading **
#loading{
	margin-top: 10px;
	display: none;

	.load{
		background: url('../img/loading.gif') no-repeat top center;
		width: 50px;
		height: 50px;
		margin: 5px auto 0;
	}
}


//** #response **
#response{
	margin-top: 40px;

	p{
		margin: 0;
	}
}


//** #regular for best selling charts **
#regular{
	margin-top: 40px;

	h6{
		color: #545454;
	}

	.rank{
		color: #464b4d;
		font-size: 16px;
		padding-left: 10px;
	}

	.image{
		width: 80px;

		.thumbnail{
			background-color: #B1ABAB;

			&:hover{
				background-color: #f5f5f5;
			}
		}
	}

	.title{
		color: #222;
		font-size: 13px;
		font-weight: bold;
		line-height: 14px;
		padding-top: 6px;
		padding-bottom: 2px;

		small{
			color: #535353;
			font-size: 12px;
			font-weight: normal;
		}

		a{
			color: #000;
		}

	}

	.artist{
		color: #535353;
		font-size: 13px;
	}	

	.label{
		font-size: 11px;
		background-color: #8a8686;
	}

}


footer{


	.content{
		background-color: #FFF;
		border-top: 1px solid #DCDCDC;
		padding: 10px 0;
		height: 60px;
	}

	p, a{
		color: #343434;
		font-size: 13px;
	}

	a:hover{
		color: #000;
	}

	ul.link-list{
		padding-top: 4px;

		a{
			color: #999;
			font-size: 22px;
		}

		a.twitter:hover{
			color: #08ADE8;
		}

		a.mail:hover{
			color: #790400;
		}
	}
}




select,
input[type="text"],{
	display: inline-block;
	height: 34px;
	margin-bottom: 9px;
	font-size: 12px;
	line-height: 20px;
	color: #555555;
	@include border-radius(3px);
	width: 180px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}



.btn{
	@include border-radius(3px);
	width: auto; 
	background: #E9E9E9; 
	border: 1px solid darken((#E9E9E9), 15%); 
	@include box-shadow(0 1px 0 rgba(#FFF, .5) inset); 
	color: #000; 
	cursor: pointer; 
	display: inline-block; 
	font-weight: bold; 
	line-height: 1; 
	margin: 0; 
	outline: none; 
	padding: 10px 20px 11px; 
	text-align: center; 
	text-decoration: none; 
	@include single-transition(background-color, .15s, ease-in-out);
}

.thumbnail{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	@include box-shadow(0 1px 3px rgba(0,0,0,.1) false); 
	cursor: pointer;

	&:hover{
		-webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); 
		-moz-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); 
		box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
	}
}



table.table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	width: 100%;
	margin-bottom: 20px;
	@include box-shadow(5px 5px 10px rgba(#000, .5));

	td {
		padding: 4px 5px;
		line-height: 20px;
		text-align: left;
		vertical-align: middle;
		border-top: 1px solid #dddddd;
	}

	tbody{
		tr:nth-child(odd) td{
			background-color: #D5D5D5;
		}

		tr:nth-child(even) td {
			background-color: #E1E1E1;
			border-top: 1px solid #a5a5a5;
			border-bottom: 1px solid #a5a5a5;
		}
	}

}



.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #572221;
	background-color: #f2dede;
	border-color: #eed3d7;   
	text-align: center;     
}
